# 用于 client.py 的测试配置
# def get_scraper():
#     from scrapers.<university> import Config, Scraper
#     scraper = Scraper(Config(username=xxx, password=xxx, ...))
#     return scraper

# 访问 https://t.me/BotFather 以获取
token = "Telegram Bot Token"
# 数据库的存放位置
db = 'app.db'
# 免责信息
disclaimer = '为了查询成绩，你需要提供登录信息。在使用本服务之前请确定对服务提供者的信任。' \
             '取消会话请使用 /cancel'
